/*공용부분*/
header{
    text-align: center;
    grid-area: header;
}
nav{
    text-align: center;
    grid-area: nav;

}
.anchor{
    display: inline-block;
}

#intro{
    text-align: center;
    grid-area: intro;
}

#study{
    grid-area:study;
}

#project{
    grid-area: project;
}

/*desktop screen*/
@media screen and (min-width:960px){
    .container{
        display: grid;
        background-color: bisque;
        grid-template-columns:auto auto auto;
        grid-template-rows: 10% 10% auto;
        
        grid-template-areas: 
        "header header header"
        "nav nav nav"
        "intro study project";
    }
}

/*tablet screen*/
@media screen and (min-width:641px) and (max-width:959px){
    .container{
        display: grid;
        background-color: yellowgreen;
        grid-template-columns:auto auto;
        grid-template-rows: 10% 10% 30% auto;
       
        grid-template-areas: 
        "header header "
        "nav nav "
        "intro intro "
        "study project";
    }
}

/*phone screen*/
@media screen and (max-width:640px){
    .container{
        display: grid;
        background-color: red;
        grid-template-columns:auto;
        grid-template-rows: 10% 10% auto auto auto;
        text-align: center;
        grid-template-areas: 
        "header"
        "nav"
        "intro"
        "study"
        "project";
    }
}



